@media (min-width: 1280px) {
  .sidebar {
    padding-top: var(--ifm-navbar-height);
    width: var(--ifm-navbar-sidebar-width);
  }

  .sidebarWithHideableNavbar {
    padding-top: 0;
  }

  .sidebarLogo {
    display: flex !important;
    align-items: center;
    margin: 0 var(--ifm-navbar-padding-horizontal);
    min-height: var(--ifm-navbar-height);
    max-height: var(--ifm-navbar-height);
    color: inherit !important;
    text-decoration: none !important;
  }

  .sidebarLogo img {
    margin-right: 0.5rem;
    height: 2rem;
  }
}

/* stylelint-disable-next-line a11y/no-display-none -- this one is okay */
.sidebarLogo {
  display: none;
}
