.tile {
  cursor: pointer;
  position: relative;
}

.truncated {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflow {
  overflow: visible;
  white-space: normal;
  hyphens: auto;
}
