:root {
  --doc-sidebar-width: 300px;
  --doc-sidebar-hidden-width: 30px;
}

/* stylelint-disable-next-line a11y/no-display-none -- Hide for smaller screen */
.docSidebarContainer {
  display: none;
}

@media (min-width: 1280px) {
  .docSidebarContainer {
    display: block;
    margin-top: calc(-1 * var(--ifm-navbar-height));
    will-change: width;
    /* stylelint-disable-next-line plugin/no-low-performance-animation-properties -- necessary for the default swizled visual effect */
    transition: width var(--ifm-transition-fast) ease;
    clip-path: inset(0);
  }

  .docSidebarContainerHidden {
    width: var(--doc-sidebar-hidden-width);
    cursor: pointer;
  }

  .sidebarViewport {
    top: 0;
    position: sticky;
    height: 100%;
    max-height: 100vh;
  }
}
