.grid:focus-visible {
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--color-bgPrimary);
}

.gridOverlay {
  pointer-events: none;
}

.pauseButton {
  pointer-events: all;
}
