# TODO: Delete this file for open source
name: CDS Illustrations Package Scoring
on:
  push:
    branches:
      - master
    paths:
      - 'packages/illustrations/**'

permissions:
  id-token: write
  contents: read
  issues: write
  statuses: write
  pull-requests: write
  checks: write

jobs:
  cds-illustrations-package-scoring:
    name: CDS Illustrations Package Scoring
    continue-on-error: true
    runs-on:
      - default-config
      - frontend-org-runner
      - xlarge
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          fetch-depth: 50
      - uses: infra/cb-workflow-nx-build-tools/.github/actions/setup@stable
      - name: Read Config Service
        uses: infra/cb-action-config-service@master
        continue-on-error: true
        with:
          scope: actions-context/insights-actions-config
      - name: Run test
        run: yarn nx run illustrations:test
      - uses: infra/cb-action-setup-node@master
        with:
          version: 20
      - name: Get new package json version value
        continue-on-error: true
        run: >-
          echo "PACKAGE_VERSION=$(
            node -e "console.log(require('./packages/illustrations/package.json').version);"
          )" >> $GITHUB_ENV
      - name: Fetch package json name
        continue-on-error: true
        run: >-
          echo "PACKAGE_NAME=$(
            node -e "console.log(require('./packages/illustrations/package.json').name);"
          )" >> $GITHUB_ENV
      - run: |
          if [ -f ".nx/outs/projects/packages/illustrations/coverage/coverage-summary.json" ]; then
            echo 'CODE_COVERAGE<<EOF' >> $GITHUB_ENV
            cat .nx/outs/projects/packages/illustrations/coverage/coverage-summary.json >> $GITHUB_ENV
            echo 'EOF' >> $GITHUB_ENV
          else
            echo "no code coverage file found"
            echo 'CODE_COVERAGE<<EOF' >> $GITHUB_ENV
            echo "{}" >> $GITHUB_ENV
            echo 'EOF' >> $GITHUB_ENV
          fi

      - uses: actions/github-script@d7906e4ad0b1822421a7e6a35d5ca353c962f410 # v6.4.1
        id: get_issue_number
        with:
          script: |
            if (context.issue.number) {
              // Return issue number if present
              return context.issue.number;
            } else {
              // Otherwise return issue number from commit
              return (
                await github.rest.repos.listPullRequestsAssociatedWithCommit({
                  commit_sha: context.sha,
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                })
              ).data[0].number;
            }
          result-encoding: string

      - uses: infra/insights-actions/actions/package-scoring@v0.0.1
        continue-on-error: true
        with:
          VERSION: ${{ env.PACKAGE_VERSION }}
          PACKAGE_NAME: ${{ env.PACKAGE_NAME }}
          PACKAGE_PATH: 'packages/illustrations'
          CODE_COVERAGE: ${{ fromJson(env.CODE_COVERAGE).total.lines.pct }}
          GITHUB_SECURITY_TOKEN: ${{ env.GITHUB_SECURITY_TOKEN }}
          SOURCEGRAPH_TOKEN: ${{ env.SOURCE_GRAPH_TOKEN }}
          PR_NUMBER: ${{steps.get_issue_number.outputs.result}}
